@media screen and (max-width: 1300px) {

    .navigation,
    .call_request {
        display: none;
    }

    .header {
        font-size: 16px;
    }

    .container {
        margin: 0 40px;
        max-width: 100vw;
    }

    .header-grid {
        justify-content: center;
    }

    .tel {
        text-decoration-line: none;
        color: #ffffff;
    }
    .intro .title{
        padding-top: 120px;
    }
    .intro .buttons {
        flex-direction: column;
    }

    .intro .buttons .calculate {
        margin: 50px 0 40px 0;
    }

    .intro .buttons .button-spec {
        /* color: #FFFFFF; */
        width: unset;
        height: 80px;
        border-radius: 0;
        font-size: 15px;
    }






    .projects-grid {
        padding: 0px 0 0 0;
        grid-template-columns: 100%;
        grid-column-gap: 4vw;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .projects-container {
        padding: 70px 0 0 0;
    }

    .projects-list,
    .image-selector {
        display: none;
    }

    .h2-projects {
        text-align: center;
        grid-area: 1/1/3/1;
        margin: 0 0 0 0;
        font-size: 32px;
    }

    .h3-projects {
        margin-bottom: 10px;
    }

    .p-projects {
        grid-area: 2/1/4/2;
        font-size: 18px;
        text-align: center;
        margin: 0;
    }

    .project-description {
        margin-top: 220px;
        grid-area: 5/1/9/2;
        /* margin-bottom: 20px; */
    }

    .proj-desc-element {
        margin-bottom: 20px;
    }

    .projects-column {
        max-width: 95vw;
        align-items: center;
    }

    .projects-column img {
        /* grid-row-start: 1; */
        max-width: 87vw;
    }

    .projects-grid .description-image {
        grid-area: 3/1/7/2;
        margin-top: 0px;
        margin-bottom: 100px;
        max-width: 100%;
        justify-self: center;

    }






    .online-control,
    .online-control .video,
    .online-control-section {
        background-color: #131313;
    }

    .online-control-section {
        position: unset;
        margin-bottom: 0px;
    }

    .online-control {
        position: unset;
        margin-top: -5px;
        margin-bottom: 0px;
        height: 1208px;
    }

    .online-control h2 {}

    .online-control .video {
        display: flex;
        flex-basis: 0;
    }

    .video-preview {
        max-width: 90vw;
    }

    .online-control .online-control-text {
        font-size: 1.1rem;
        color: #FFFFFF;
    }

    .form-online-control {
        width: 100%;
    }

    .form-online-control-data-line {
        flex-direction: column;
    }

    .form-online-control-data-line label,
    .form-online-control .for-custom-checkbox,
    .form-online-control input[name="submit"] {
        margin-bottom: 20px;
    }

    .form-online-control-data-line label input {
        background-color: #131313;
    }

    .form-online-control input[name="name"]::-webkit-input-placeholder,
    input[name="phone"]::-webkit-input-placeholder {
        color: #FFFFFF;
        font-size: 20px;
    }

    .form-online-control label[name="name"],
    .form-online-control input[name="phone"] {
        color: #FFFFFF;
    }

    .form-online-control-data-line label {
        /* padding: .8vw 0; */
        border-bottom: solid #ffffff;
        /* border-width: 1px; */
        width: 100%;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .form-online-control label {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        max-width: 100%;
    }

    .form-online-control input[name="submit"] {
        border-radius: 0;
        margin-top: 10px;
        height: 80px;
        font-size: 20px;
        width: 100%;
        color: #FFFFFF;
        order: 4;
    }

    .form-online-control-checkbox-line {
        order: 3;
        width: 100%;

    }





    .types-of-repair {
        margin: 100px 0 350px 0;
        width: 100%;

    }

    .types-with-prices {
        grid-template-columns: 1fr;
        column-gap: 0vw;
        margin: 20px 0 0 0;
        width: 90%;
    }

    .types-with-prices-element img {
        width: 100%;
    }

    .types-with-prices-description {
        align-self: flex-start;
    }

    .types-of-repair-free-measurements,
    .measurements-stages-underneath {
        display: none;
    }

    .reconstruction-styles-list {
        display: none;
    }




    .we-realize_gallery {
        background-image: none;
        margin-bottom: -450px;
    }

    .we-realize-flex {
        flex-direction: column;
        position: relative;
        top: -450px;        
    }

    .we-realize-left {
        width: 100%;
        text-align: center;
    }

    .we-realize-right {
        flex-wrap: nowrap;
        position: unset;
    }

    .we-realize-right>img {
        /* margin:50px;*/
        padding: 0 0 20px 0;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .we-realize-right>img:nth-of-type(-n+1) {
        margin-top: 0px;
    }

    .we-realize-right>img:nth-of-type(n+3) {
        /* position: relative;
        top:-100px; */
        padding-left: 0px;
    }

    .we-realize-right>img:nth-of-type(n+2) {
        display: none;
    }





    .our-clients,
    .map-background,
    .our-clients-background {
        display: none;
    }

    .all-reviews {

        grid-template-columns: 1fr;
    }

    .review {
        margin-bottom: 40px;
    }



    .question-map-section {
        background-color: #131313;
        /* position: unset; */
        top: -140px;
    }

    .question-map-section .container {
        /* height:400px; */
    }

    .question-map {
        position: unset;
        background-color: #131313;
        background-size: 120vw;
    }

    .question-map h2 {
        order: 3;
    }

    .question-map .social-links {
        order: 4;
    }

    .question-map .form-measurements-request legend {
        width: 100%;
        font-size: 28px;
    }

    .question-map .form-measurements-request {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        max-width: 100vw;
        padding: 0 20px 40px 20px;
    }

    .question-map .form-measurements-request>label:nth-of-type(n) {
        width: 100%;
        margin: 100px 0 0 0;
        justify-self: stretch;
    }

    .question-map>.form-measurements-request .div-checkbox,
    .question-map>.form-measurements-request input[name="call-measurer"] {

        align-self: center;
        margin: 40px 0px 0 0px;
        border-radius: 0;
        box-shadow: unset;
        width: 100%;
        font-size: 18px;
    }

    .question-map>.form-measurements-request input[name="call-measurer"] {
        margin-top: 80px;
        height:70px
    }

    .question-map .form-measurements-request{
        margin-bottom: 50px;
        width:100%;
    }

    .footer {
        display: none;
    }



}

@media screen and (min-width: 2400px) {
    .map{
        display: none;
    }
}